[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
After=etcd.service

[Service]
Type=notify
Restart=always
RestartSec=5
ExecStart=/usr/bin/flanneld \
  -etcd-endpoints=http://@@MY_HOST_IP@@:4001 \
  -subnet-file=/var/lib/k8s/flannel/subnet.env \
  -iface eth1
[Install]
WantedBy=multi-user.target
